<a href="https://colab.research.google.com/github/Paresh-95/python_basics/blob/main/Python%20Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# To Find Last Digit of Number

num = int(input("Enter the number="))
a = num%10
print(a)

Enter the number=3562
2

In [ ]:
# Swap With Third Digit

a = int(input("Enter value of a = "))
b = int(input("Enter value of b = "))
print("Before Swapping")
print("a=",a )
print("b=",b)

temp = a
a=b
b=temp

print("After Swapping")
print("a=",a)
print("b=",b)

Enter value of a = 30
Enter value of b = 10
Before Swapping
a= 30
b= 10
After Swapping
a= 10
b= 30

In [ ]:
# Swap Without Third Variable

a = int(input("Enter value of a = "))
b = int(input("Enter value of b = "))
print("Before Swapping")
print("a=",a )
print("b=",b)
a=a+b
b=a-b
a=a-b
print("After Swapping")
print("a=",a)
print("b=",b)

Enter value of a = 20
Enter value of b = 30
Before Swapping
a= 20
b= 30
After Swapping
a= 30
b= 20

In [ ]:
# Reverse of 4 digit number
reverseNo = 0
num = int(input("Enter the no you want to reverse = "))
print(num)

while num>0:
  rem = num%10
  reverseNo = reverseNo*10+rem
  num //=10

print(reverseNo)

Enter the no you want to reverse = 1234
1234
4321

In [ ]:
# Add  Digit of Number

num = input("Enter Number: ")
sum = 0

for i in num:
    sum = sum + int(i)

print(sum)

Enter Number: 124
7

In [ ]:
# Check Number is Less than 10

num = int(input("Enter the number = "))
print("YES" if num<10 else "NO")

Enter the number = 11
NO

In [ ]:
# Check the number is Equivalent or not
num1 = int(input("Enter the number = "))
num2 = int(input("Enter the number = "))

print("YES" if num1==num2 else "NO")

Enter the number = 10
Enter the number = 20
NO

In [ ]:
# Check Voting Eligiblity

age =int(input("Enter the number = "))
print("You can Vote " if age>=18 else "You cannot Vote")

Enter the number = 20
You can Vote

In [ ]:
# Check number is even or odd

num = int(input("Enter the number = "))
print("Even" if num%2==0 else "Odd")

Enter the number = 11
Odd

In [ ]:
# Enter 3 Angle Check it is Traingle or not

A1 = int(input("Enter the Angle1 = "))
A2 = int(input("Enter the Angle2 = "))
A3 = int(input("Enter the Angle3 = "))

print("Traingle" if A1+A2+A3==180 else "Not a Traingle")

Enter the Angle1 = 40
Enter the Angle2 = 60
Enter the Angle3 = 80
Traingle

In [ ]:
# Find Total Marks And Percentage

print("Enter your marks in following subjects")
math = int(input("Enter marks in maths"))
science = int(input("Enter marks in science = "))
ss = int(input("Enter marks in ss = "))
hindi = int(input("Enter marks in hindi = "))
english = int(input("Enter marks in english = "))

totalMarks = math+science+ss+hindi+english
print("Total Marks obtained= ",totalMarks,"/500")

percentage = ((totalMarks/500)*100)
print("Percentage obtained =",percentage)

Enter your marks in following subjects
Enter marks in maths99
Enter marks in science = 89
Enter marks in ss = 92
Enter marks in hindi = 87
Enter marks in english = 98
Total Marks obtained=  465 /500
Percentage obtained = 93.0

In [ ]:

# check leap year or not

year = int(input("Enter year = "))

if year%400==0 and year%100==0:
  print("Year is a Leaf Year")
elif year%4==0 and year%100!=0:
  print("Year is a Leaf Year")
else:
  print("Year is not a leaf Year")

Enter year = 2004
Year is a Leaf Year

In [ ]:
# check if no is +ve -ve or 0

num =int(input("Enter the number = "))

if(num>0):
  print("Number is positive number")
elif(num==0):
  print("Number is Zero")
else:
  print("Number is negative number")

Enter the number = -1
Number is negative number

In [ ]:
# Largest among three number

a =int(input("Enter the number1 = "))
b =int(input("Enter the number2 = "))
c =int(input("Enter the number3 = "))

if a>b and a>c:
  print(a,"is the greatest")
elif b>a and b>c:
  print(b,"is the greatest")
elif c>a and c>b:
  print(c,"is the greatest")
else:
   print("All numbers are equal")

Enter the number1 = 10
Enter the number2 = 20
Enter the number3 = 60
60 is the greatest

In [ ]:
# discount to students

cost =int(input("Enter your cost of the product = "))
user = int(input("Enter 1 if student else enter any key = "))

if(user==1 and cost>500):
  print(" Original Cost = ",cost)
  discount = int(cost/10)
  print("Discount obtained = ",discount)
  disPrice = int(cost-discount)
  print("Discounted Price = ",disPrice)

elif(user==1 and cost<=500):
  print(" Original Cost = ",cost)
  discount = int((cost/100)*5)
  print("Discount obtained = ",discount)
  disPrice = int(cost-discount)
  print("Discounted Price = ",disPrice)

elif(user and cost>500):
  print("Original Cost = ",cost)
  discount = int((cost/100)*8)
  print("Discount obtained = ",discount)
  disPrice = int(cost-discount)
  print("Discounted Price = ",disPrice)

else:
  print(" Original Cost = ",cost)
  discount = int((cost/100)*2)
  print("Discount obtained = ",discount)
  disPrice = int(cost-discount)
  print("Discounted Price = ",disPrice)

Enter your cost of the product = 600
Enter 1 if student else enter any key = 1
 Original Cost =  600
Discount obtained =  60
Discounted Price =  540

In [85]:
# Loop Questions
# print no from 10 to 1

for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [88]:
# sum of first even number
sum=0
num =int(input("Enter the number = "))
for i  in range(2,num+1,2):
  sum= sum+i

print(sum)

Enter the number = 6
12

In [90]:
# COUNT OF THE NUMBER

n =int(input("Enter the number = "))
count = 0
while n!=0:
  n//=10
  count += 1

print("count of the number is ",count)

Enter the number = 1145
count of the number is  4

In [100]:
n =int(input("Enter the number = "))
factorial =1

if n<0:
  print("factorial doesn't exist for negative no")
elif n==0:
  print("factorial of 0  is 1")
else:
  for i in range(1,n+1):
    factorial = factorial*i

print(factorial)

Enter the number = 8
40320

In [104]:
# //accpet 9 digit no and find sum of last and first digit
n =int(input("Enter a 9 digit number = "))
firstNum = n//100000000
lastNum =  n%10

sum = firstNum + lastNum
print(sum)

Enter a 9 digit number = 111111111
2

In [108]:
# Sum of all digits of number
count = 0
n =int(input("Enter the number = "))
while(n!=0):
  rem  = n%10
  count = count+rem
  n=n//10

print(count)

Enter the number = 1234
10

In [122]:
  # check number is prime or not

n =int(input("Enter the number = "))

for i in range(2,n):

IndentationError: ignored

In [132]:
# given no is palindrome or not

reverseNo = 0
num = int(input("Enter the no you want to reverse = "))
num1=num
print(num)

while num>0:
  rem = num%10
  reverseNo = reverseNo*10+rem
  num //=10

print(reverseNo)

if(num1==reverseNo):
  print(num1,"is Palindrome number")
else:
  print(num1, "is not a palindrome number")

Enter the no you want to reverse = 121
121
121
121 is Palindrome number

In [146]:
# print the sum of the following series
# sum = 1 + x^1/1 + x^2/2 + x^3/3

sum=1
num = int(input("Enter the no = "))
n = int(input("Enter number upto which you want to print = "))
for i in range(1,n+1):
  sum= sum+(num**i)//i

print(sum)

Enter the no = 2
Enter number upto which you want to print = 3
7

In [151]:
# multiply two positive number without using * operator

n1 = int(input("Enter number1 = "))
n2 = int(input("Enter number 2= "))
multiply=0
for i in range(1,n2+1):
    multiply = multiply+n1

print(multiply)

Enter number1 = 2
Enter number 2= 3
6

1 5
2 4
3 3
4 2
5 1